.cardd{
    background-color: #22222e;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.sidebar-open .CourseCards {
  transform: translateX(250px); /* Pomerajte kartice u desno kada je boÄna traka otvorena */
}
