/* Navigation.css */
body{
  background-color: #00021f;
}

.HomeScreen{
  display: flex;
  justify-content: space-between;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  color: #fff;
  padding: 20px;
}
.customText {
  color: "white";
}
.logo img {
  width: 30%;
  align-self: center;
}

.profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.badges-container {
  display: flex;
}

.badges {
  margin-top: 20px;
}

.badges img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navigation-items li {
  padding: 10px 0;
  cursor: pointer;
}

.navigation-items li:hover {
  background-color: #555;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #22222e;
  color: #fff;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 0;
}

.sidebar.closed .visible {
  display: none;
}

.sidebar.open .hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}
