*{
    font-family: Nunito, sans-serif;
}

.main-add-course{
    background-color: #2a2b39;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 250px;
}

.main-add-course .form{
    background-color: #232430;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 20px;    
}

::-webkit-file-upload-button{
    background-color: #bc7c19;
    color: white;
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}

::-webkit-file-upload-button:hover{
    background-color: #b27417;
}

.tf{
    background-color: transparent;
    border: 1px solid grey;
    font-size: 18px;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.logo-addcourse{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo2{
    width: 150px;
}