*{
    font-family: Nunito, sans-serif;
}

.main-add-course{
    background-color: #00021f;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-add-course .form{
    background-color: #22222f;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 20px;    
}

::-webkit-file-upload-button{
    background-color: #bc7c19;
    color: white;
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}

::-webkit-file-upload-button:hover{
    background-color: #b27417;
}

.tf{
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    padding: 15px;
    border-radius: 10px;
}