.profile1 {
  max-width: 700px;
  margin-left: 250px;
}

.about-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
    background-color: #22222e;
    border-radius: 20px;
    margin-top: 100px;
}

.profile1 h2 {
  color: white;
}

.about-me-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about-me-section p {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.image-and-name {
  display: flex;
  color: white;
}

.image-and-name img {
  margin-top: -80px;
  margin-left: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.image-and-name h1 {
  color: white;
  margin-left: 10px;
}

.image-and-name svg {
  cursor: pointer;
}

.about-me {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  color: rgb(193, 193, 193);
}

.profile1 .other {
  margin-top: 20px;
  color: white;
}

.profile1 .other ul {
  list-style-type: none;
  display: flex;
}

.profile1 .other ul li {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.profile1 .badges {
  margin: auto;
  margin-top: 20px;
  height: 100%;
  width: 400px;
}

.profile1 .badges ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile1 .badges ul li {
  height: 200px;
  width: 200px;
  text-align: center;
  color: white;
}

.editProfile {
  position: fixed; 
  z-index: 1; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 600px;
  overflow: auto;
  background-color: black;
  color: white;
  padding: 20px;
  display: none;
}

.editProfile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.editProfile label {
  margin-top: 15px;
  font-size: 20px;
}

.editProfile input[type="text"] {
  width: 95%;
  height: 30px;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: #22222e;
  border: 0;
}

.editProfile textarea {
  width: 95%;
  height: 150px;
  font-size: 15px;
  padding: 10px;
  color: white;
  background-color: #22222e;
  border: 0;
}

.editProfile button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #22222e;
  border: 0;
  color: white;
  font-size: 20px;
}

.editProfile p {
  font-size: 20px;
  cursor: pointer;
}

.points-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-h2{
  font-size: 40px;
}
