* {
  padding: 0;
  margin: 0;
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  /* background-color: #2a2b39; */
  /* margin-top: 10px; */
  color: white; 
}
.Logincontainer {
  background-color: #2a2b39;
  height: 100vh;
  padding-top: 5%;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #bc7c19;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.logo3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.in{
  background-color: transparent;
}