  /* Navigation.css */
body {
  background-color: #00021f;
}

.HomeScreen {
  display: flex;
  justify-content: space-between;
}

.main-screen {
  padding-top: 20px;
  padding-left: 300px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  color: #fff;
  border-right: 0.5px solid black;
}
.customText {
  color: "white";
}
.logoutButton {
  width: 100px;
  padding-top: 5px;
  border: 0.5px solid black;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 14px;
  padding-bottom: 5px;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b24;
  padding: 20px;
}
.logo img {
  width: 30%;
  align-self: center;
}

.profile {
  margin-top: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  align-self: flex-end;
  bottom: 60px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.badges {
  margin-top: 20px;
  text-align: center;
  cursor: default;
}

.badges img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navigation-items li {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.navigation-items li:hover{
  background-color: #1b1b24;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #22222e;
  color: #fff;
  overflow-x: hidden;
  justify-content: space-between;
  transition: width 0.3s ease; /* Dodajte tranziciju za širinu */
  z-index: 100; /* Postavite z-index da bude ispred glavnog sadržaja */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}
